<?php

// Nome della homepage (HTML Ammesso)
$homeName = "<b>Nexxon</b>Tech";

// Configurazione per la API di Unsplash
$clientId = "";
$cat = "";

// Fallback image config
$fallbackAuthor = "Gilberto Parada";
$fallbackAuthorUrl = "https://unsplash.com/@gilbertoparada";

?>